/******************************TAG selector********************************/
body{
  margin: 0px;
  text-align: center;
  background-color: #583d72;
  /*suggest to use sans-serif and serif*/
  /*Values are separated by commas to indicate that they are alternatives. */
  /*we make the 'Merriweather' as our default font.*/
  font-family: 'Merriweather', serif;
}
hr{
  /*top, left and right, bottom*/
  border-style: dotted none none;
  border-width: 5px;
  border-color: #ebcfc4;
  width:10%;
}
h1{
  /*when the value is o, we don't have to specify the unit.*/
  color:#ffba93;
  /*90px / 16px = 562.5%. 16px is the default h1 size in browser medium setting*/
  /*either this way*/
  /*font-size: 562.5%;*/
  /*or this*/
  font-size: 5.625rem;
  width:40%;
  margin:50px auto 0;
  font-family: 'Sacramento', cursive;
}
h2{
  color: #ffba93;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
}
h3{
  color: #583d72;
  font-family: 'Montserrat', sans-serif;
}
a{
  text-decoration: none;
}
p{
  /*
    background-color: #9f5f80;
  */
  color: #40514E;
  text-align: left;
  line-height: 2;
  /*clear:both;*/
}
/*****************************CLASS selector*******************************/
.top-container{
  position: relative;
  top:100px;
  line-height: 2;
}
.middle-container{
  background-color: #F7EFED;

  position: relative;
  top:100px;

  text-align: left;

  display: inline-block;
}
.middle-container img{
  height:50%;
  width:50%;
}
.middle-container h2{
  text-align: center;
}
.bottom-container{
  background-color: #9f5f80;
  position: relative;
  top:80px;

  height: 100%;
  width: 100%;

  display: inline-block;
}
.profile{
  margin: 100px auto 100px;
  width: 50%;

  text-align: center;
}
.skill-row{
  margin: 100px auto;
  width: 50%;
}
.contact-me{
  background-color: #F7EFED;
  margin: 100px auto;
  width: 50%;

  text-align: center;
}
.subtitle{
  font-weight: normal;
}
.pro{
  text-decoration: underline;
}
.music{
  float: left;
  margin-right: 30px;
}
.painting{
  float: right;
  margin-left: 30px;
}
.btn {
  background: #ffba93;
  background-image: -webkit-linear-gradient(top, #ffba93, #ff8e71);
  background-image: -moz-linear-gradient(top, #ffba93, #ff8e71);
  background-image: -ms-linear-gradient(top, #ffba93, #ff8e71);
  background-image: -o-linear-gradient(top, #ffba93, #ff8e71);
  background-image: linear-gradient(to bottom, #ffba93, #ff8e71);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  color: #F7EFED;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.btn:hover {
  background: #fcd4a9;
  background-image: -webkit-linear-gradient(top, #fcd4a9, #ffbe8c);
  background-image: -moz-linear-gradient(top, #fcd4a9, #ffbe8c);
  background-image: -ms-linear-gradient(top, #fcd4a9, #ffbe8c);
  background-image: -o-linear-gradient(top, #fcd4a9, #ffbe8c);
  background-image: linear-gradient(to bottom, #fcd4a9, #ffbe8c);
  text-decoration: none;
}
.footer{
  margin: 50px 20px 20px;
}
.footer-link{
  color: #ffba93;
  padding: 15px;
}
.footer-link:hover{
  color:#F7EFED;
}
.register-container{
  margin: 20px auto 5px;
}
/*This should be copyright*/
.register{
  text-align: center;
  margin: 0;
  color: #F7EFED;
  font-size: 12px;
}
/*****************************ID selector*******************************/
#cloud_1{
  position: absolute;
  top:-50px;
  left:60%;
}
#cloud_2{
  position: absolute;
  left: 30%;
  bottom:300px;
}
